
<!DOCTYPE html>
<html>
<title>Complaint Register System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});

$(function () {
  $('[data-toggle="popover"]').popover();
});
</script>
<style media="screen">
.kk{
 float:right;
}
</style>
<body class="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="./ORqmj" style="margin-right:-8px; margin-top:-5px;">
                                <img alt="Brand" src="https://lut.im/7trApsDX08/GeilMRp1FIm4f2p7.png" width="30px" height="30px">
                            </a>
                            <a class="navbar-brand" href="./ORqmj">BCRS</a>
                            <i class="brand_network"><small><small>Bhawan Complaint Register System</small></small></i>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                        <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="img-responsive img-circle" title="John Doe" alt="John Doe" width="30px" height="30px">
                                    </span>
                                    <span class="user-name">
                                      {{user.username}}
                                    </span>
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" alt="Alternate Text" class="img-responsive" width="120px" height="120px" />
                                                        <p class="text-center small">
                                                            <a href="#">Change Photo</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>{{user.username}}</span>

                                                        <div class="divider">
                                                        </div>


                                                        <a href="#" class="btn btn-default btn-xs"><i class="fa fa-cogs" aria-hidden="true"></i>Account Settings</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-footer">
                                                <div class="navbar-footer-content">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="/users/forgot" class="btn btn-default btn-sm"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Forgot Passowrd</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="/admins/logout" class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>{{user.username}}</strong></h3>
                            <hr>
                            <h3><strong>{{user.compType}}</strong></h3>
                            <hr>
                            <h3><strong>Mobile Number</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{user.username}} </h1>
                    </span>
                    <br><br><hr>
                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-user-circle" aria-hidden="true"></i> Complaints <span class="badge">{{len}}</span></a>
                    </span>
                </div>
            </div>
            <hr>
            {{#each entries}}
            {{#if this.completedUser}}
                  {{#if this.completedAdmin}}
                <div class="panel panel-success">
                  {{else}}
                  <div class="panel panel-warning">
                  {{/if}}
              {{else}}<div class="panel panel-danger">{{/if}}
              <div class="panel-heading">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none; color:white;"><strong>{{user.username}}</strong></a> – <small><small><a href="#" style="text-decoration:none; color:white;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
              </div>
<div class="panel-body">

  {{#if this.completedUser}}
  {{else}}
        {{#if this.completedAdmin}}
        {{else}}
      <span> Status: Not Started  </span>{{/if}}
        {{/if}}

    {{#if this.completedUser}}
          {{#if this.completedAdmin}}
        <span style="background:lightgreen">  Status  :  Completed </span>
          {{else}}
    <span class ="alert">
  Status  :   Stated complete by User {{this.username}}
   </span>{{/if}}
    {{/if}}

    {{#if this.completedAdmin}}

    {{/if}}

                    <hr>
                    <div class="post-content float-left">
                        {{this.complaint}}
                        {{#if this.completedAdmin}}
                          {{else}}
                        <form class="form-inline kk" action="/admins/change" method="post">
                           <input type="hidden" id = "o" name="complid" value={{this.id}}>
                          <label for="sel1">status :</label>
                          <select class="form-control"  name="check">
                            <option value="false">Not Completed</option>
                            <option value="true">Completed</option>
                          </select>
                          {{#if this.completedUser}}
                          <button type="submit" class="btn btn-danger" name="button">submit</button>
                          {{else}}
                          <button type="submit" disabled="true" class="btn btn-danger" name="button">submit</button>{{/if}}
                        </form>
                        {{/if}}
                      </div>

                  </div>
                      <div class="panel-footer">
                      {{#if this.completedAdmin}}
                          {{#if this.completedUser}}
                      <div class="pull-right btn-group-xs">
                          {{#if this.completedUser}}<i class="fa fa-check" style="color:green; font-size:28px;"></i>{{/if}}
                      </div>
                          {{/if}}
                      {{/if}}


                        <div class="pull-left">
                            <p  style="margin-left:5px;">Room No: {{this.details.room}} || Enrollment :{{this.details.enrollment}} </p>
                        </div>
                        <br>
                    </div>

                </div>

       {{/each}}

            <!-- Simple post content example. -->

<!-- this is the end -->

                </div>
            </div>

        </div>
    </div>
</div>



</body>
</html>
